@charset "utf-8";
/**************autoWidth媒体查询自适应宽度布局**********************/
@media screen and (min-width:1080px) {body,input,select{ font:40px Arial,"Microsoft yahei";}}
@media screen and (min-width:800px) and (max-width:1079px){body,input,select{ font:30px Arial,"Microsoft yahei";}}
@media screen and (min-width:720px) and (max-width:799px){body,input,select{ font:27px Arial,"Microsoft yahei";}}
@media screen and (min-width:480px) and (max-width:719px){body,input,select{ font:18px Arial,"Microsoft yahei";}}
@media screen and (min-width:320px) and (max-width:479px){body,input,select{ font:12px Arial,"Microsoft yahei";}}
/* CSS Document */
*{ margin:0; padding:0;}
body{font:12px 'Arial','Microsoft Yahei','Simsun';color:#808080;background:#fff; min-width:320px; height:100%;}
body,div,p,a,li,ul,ol,span,input,dl,dd,dt,form,h1,h2,h3,h4,h5,h6,select,pre,img,textarea{padding:0;margin:0;outline:none;font-size:system;border:0 none;text-decoration:none;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
form{display:inline}
ul,ol{list-style:none}
a,u{text-decoration:none;color:#808080;}
u{color:#ef3a2d;}
img{border:0; display:block; width:100%;}
button,input,select,textarea{font-size:100%;vertical-align:middle;outline:none;}
textarea{resize:none}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;-moz-appearance:button}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
input {-webkit-user-select: text}
input:focus:-moz-placeholder,input:focus::-webkit-input-placeholder{color:transparent}
table{border-collapse:collapse;border-spacing:0}
header,footer,article,section,nav,menu{display:block;clear:all;}

.fl{float:left;}
.fr{float:right;}
.bt{border-top:1px solid #e6e6e6;}
.bb{border-bottom:1px solid #e6e6e6;}
.underline{text-decoration:underline;}
.absolute{position:absolute;}
.relative{position:relative;}
.hide{display:none;}
.disabled{filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);-webkit-filter: grayscale(100%);}
.clear{clear:both;zoom:1;}
.clear:after {content:".";display:block;clear:both;height:0;visibility:hidden;}

#view{width: 100%;height: 100%;position: absolute;top: 0;left:0;right: 0;bottom: 0;overflow-y:scroll;}

/*等待*/
#waiting-layer{position: absolute; width:70%; line-height:30px; background-color:transparent; font-size:1em; text-align:center; padding:15px; border-radius:10px;display:none; font-size:16px;}
#waiting-layer .anim {margin:0 auto;width:80px;height:80px;position:relative;}
#waiting-layer .cube1, .cube2 {background-color:#1179c9;width:30px;height:30px;position:absolute;top:0;left:0;-webkit-animation:cubemove 1.8s infinite ease-in-out;animation:cubemove 1.8s infinite ease-in-out;}
#waiting-layer .cube2 {background-color:#eb5b5b;-webkit-animation-delay:-0.9s;animation-delay:-0.9s;}
#waiting-layer span{ display:block; line-height:30px;width:100%;text-align:center;padding-left:0;background-color:transparent;background-image:none;color:#fff;}
@-webkit-keyframes cubemove {25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }100% { -webkit-transform: rotate(-360deg) }}
@keyframes cubemove {25% {transform: translateX(42px) rotate(-90deg) scale(0.5);-webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);} 50% { transform: translateX(42px) translateY(42px) rotate(-179deg);-webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);} 50.1% { transform: translateX(42px) translateY(42px) rotate(-180deg);-webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);} 75% { transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);-webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);} 100% { transform: rotate(-360deg);-webkit-transform: rotate(-360deg);}}

/*弹窗*/
#pop-layer{position: absolute;width: 74%;background: #fff;padding: 10px 20px 15px;display: none;border-radius: 5px;}
#pop-layer .t{width: 100%;height: 35px;line-height: 35px;border-bottom: 1px solid #dedfe0;text-align: center;color: #1d1d1b;font-size: 16px;font-weight: 700;}
#pop-layer .t em{width: 32px;height: 36px;display: block;background: url(../images/icon-close.png) 0 0 no-repeat;background-size: 32px 72px;-webkit-background-size: 32px 72px;position: absolute;top: -10px;right: -8px;text-indent: -9999px;}
#pop-layer .c{margin: 15px auto 0;}
#pop-layer .c u{color:#e60012;text-decoration:underline;}
#pop-layer .checking input::-webkit-input-placeholder{color:#74747c;font-size: 13px;}
#pop-layer .checking input{height: 38px;line-height: 38px;border: 1px solid #dedde4;border-radius: 8px;width: 100%;box-sizing:border-box;-weblit-box-sizing:border-box;padding-left: 5px;margin-top: 8px;}
#pop-layer .checking input.code{width:40%;}
#pop-layer .checking a.btn-code{position: absolute;display:inline-block;width: 50%;height:38px;line-height: 38px;border-radius: 8px;box-sizing:border-box;-weblit-box-sizing:border-box;text-align: center;font-size: 13px;border:1px solid #e92748;color: #e92748;background: #fff;margin: 8px;}
#pop-layer .msg{color: #000;font-size:15px; line-height: 22px;word-wrap: break-word;}
#pop-layer .msg span{ color:#e60012;}
#pop-layer button{width: 100%;display: block;border-radius: 30px;font-family: "Microsoft yahei";height:42px;border:none;margin:20px 0 10px;font-size: 16px;color: #fff;font-weight: 500;background:#e81a3d;border-bottom: 3px solid #e2dfdd;text-shadow:0 -1px 0 #bb142f;}
#pop-layer button.btn-left{float:left; width:48%;background:#b5b5b5;text-shadow:0 -1px 0 #a0a0a0;}
#pop-layer button.btn-right{float:right;width:48%;}

/*滑出*/
#slide-layer {position: absolute;top: 0;left: 100%;width: 100%;z-index: 10000;background: #fff;overflow: hidden;display: none;}
#slide-layer .t {position: relative;line-height: 44px;height: 44px;background: #ed1c24;color: #fff;font-size: 18px;text-align: center;}
#slide-layer .t .btn-back {position: absolute;top: 0;left: 0;width: 44px;height: 44px;background: url(../images/icon-back-white.png) center no-repeat;background-size: 30px;-webkit-background-size: 30px;text-indent: -9999px;border-right: 1px solid #ca433a;}
#slide-layer .musics {width: 84%;padding: 28px 8%;}
#slide-layer .musics a.controlbtn {position: absolute;left: 8%;top: 50%;width: 44px;height: 44px;line-height: 45px;display: block;text-indent: -9999px;margin-top: -22px;}
#slide-layer .musics a.btn-play {background-size: 44px;-webkit-background-size: 44px;}
#slide-layer .musics a.btn-pause {background-size: 44px;-webkit-background-size: 44px;}
#slide-layer .musics .pinfo {padding-right: 0;margin-left: 55px;}
#slide-layer .musics p.lh {color: #fe7e83;}
#slide-layer .musics p.lh em {display: inline-block;height: 20px;background: url(../images/icon-music.png) left center no-repeat;background-size: 14px 12px;-webkit-background-size: 14px 12px;margin-left: 10px;font-style: normal;padding-left: 18px;color: #000;}
#slide-layer .c {width: 84%;margin: 12px auto;font-size: 14px;color: #666;line-height: 22px;}
#slide-layer .checking p {position: relative;}
#slide-layer .checking input::-webkit-input-placeholder {color: #9894a0;font-size: 15px;}
#slide-layer .checking input {width: 100%;border: 1px solid #cbcbd0;height: 45px;background: #f3f3f3;border-radius: 5px;padding: 0px 5px;box-sizing: border-box;-webkit-box-sizing: border-box;line-height: normal;margin-top: 12px;font-size: 15px;}
#slide-layer .checking input.code {width: 42%;float: left;}
#slide-layer .checking a.btn-code {display: inline-block;float: right;width: 55%;height: 45px;line-height: 45px;margin-top: 12px;border-radius: 5px;color: #f36257;text-align: center;font-size:system;box-sizing: border-box;border: 1px solid #f36257;}
#slide-layer .confirm a.btn-change {display: block;width: 75px;height: 30px;line-height: 30px;background: #ed1c24;color: #fff;margin: .65em 0;border-radius: 20px;text-align: center;font-size: 14px;padding: 0 5px;float: right;}
#slide-layer .confirm .affirm {font-size: 18px; line-height: 30px;}
#slide-layer .alert {width: 84%;margin: 12px auto;font-size: 15px;color: #000;line-height: 24px;text-align: left;}
#slide-layer .alert .icon {width: 60px;height: 60px;margin: 30px auto;}
#slide-layer .alert .succ {background: url(../images/icon-success.png) center no-repeat;background-size: 60px;-webkit-background-size: 60px;}
#slide-layer .alert .fail {background: url(../images/icon-fail.png) center no-repeat;background-size: 60px;-webkit-background-size: 60px;}
#slide-layer .msg {font-size: 14px; line-height: 20px;}
#slide-layer button {margin: 30px 0 20px;width: 100%;height: 50px;line-height: 50px;background: #ef3a2d;color: #fff;font-size: 16px;text-align: center;border-radius: 5px;border: none;font-family: "Microsoft yahei";}
