<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no,email=no,adress=no">
    <title>天翼铃声</title>
    <script type="text/javascript" src="../javascripts/zepto.js"></script>
    <style type="text/css">
        *{ margin:0; padding:0;}
        body{font:12px 'Arial'/*,'黑体'*/,'Microsoft Yahei','Simsun';color:#808080;background:#fff; min-width:320px; height:100%;}
        body,div,p,a,li,ul,ol,span,input,dl,dd,dt,form,h1,h2,h3,h4,h5,h6,select,pre,img,textarea{padding:0;margin:0;outline:none;font-size:system;border:0 none;text-decoration:none;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
        form{display:inline}
        ul,ol{list-style:none}
        a{text-decoration:none;color:#808080;}
        u{ text-decoration:none; color:#ef3a2d;}
        img{ border:0; display:block; width:100%;}
        button,input,select,textarea{font-size:100%;vertical-align:middle;outline:none;}
        textarea{resize:none}
        button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;-moz-appearance:button}
        input {-webkit-user-select: text}
        input:focus:-moz-placeholder,input:focus::-webkit-input-placeholder{color:transparent}
        button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
        table{border-collapse:collapse;border-spacing:0}
        header,footer,article,section,nav,menu{display:block;clear:all;}

        .fl{float:left;}
        .fr{float:right;}
        .clear{clear:both;zoom:1;}
        .clear:after {content:".";display:block;clear:both;height:0;visibility:hidden;}

        .down-layer{width: 100%;position: relative;}
        .down-layer-inner{display:block;height: 32px;position: absolute;width: 88%;left: 6%;top: 50%;margin-top: -16px;}
        .l-logo{height: 32px;background: url("/m/images/logo-down.png") left center no-repeat;background-size: 32px;-webkit-background-size:32px;font-size: 16px;color: #000;line-height: 18px;padding-left: 40px}
        .l-logo span{display: block;color: #999;font-size: 12px}
        .down-btn{display: inline-block;height: 32px;box-sizing: border-box;-webkit-box-sizing: border-box; color: #fff;padding: 0 30px;background: #ff8202;border-radius: 5px;line-height: 32px;font-size: 15px}
    </style>
</head>
<body>
<div class="img-down"><img src="/m/images/img-down.jpg"> </div>
<div class="down-layer">
    <div class="down-layer-inner clear">
        <div class="l-logo fl">翼铃<span>开启精彩铃音生活</span></div>
        <a href="javascript:;" class="down-btn fr">下载APP</a>
    </div>
</div>
<script type="text/javascript">
    window.onload = function(){
        $('.down-layer').css('height',$(window).height()-$('.img-down').height())
    }

    $(function(){
        $('.down-btn').click(function(){
            if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) {  //判断iPhone|iPad|iPod|iOS
                window.location.href =" ";
                _hmt.push(['_trackEvent', 'ios下载']);

            } else {   //判断Android
                window.location.href ="http://u.ringbox.cn/static/yilingchangxiang/android/1.0.0.0/yiling_1.0.0.0_40006062.apk";
                _hmt.push(['_trackEvent', 'Android下载']);
            }
        })
    })

    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?a6174dd1fc90c111e6a1d037c7095fb4";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
    
</script>
</body>
</html>